<div class="footer-container">
  <div class="donate-container">
    <p class="donate-text">
      Help stop the waste by recycling. Learn more on the right “references” or
      donate to the cause.
    </p>
    <button class="donate-button">Donate</button>
  </div>

  <div class="footer-info-container">
    <p class="footer-info-header">Info</p>
    <div class="info-list-items">
      <p>Home</p>
      <p>Fish In Danger</p>
      <p>Water Pollution</p>
      <p>Reef Status</p>
    </div>
  </div>

  <div class="references-container">
    <p class="references-header">References</p>
    <div class="references-list-items">
      <p>PlasticOcean.org</p>
      <p>Worldwildlife.org</p>
      <p>Pixabay</p>
      <p>ClipartLibrary</p>
      <p>Unsplash</p>
      <p>FairPlanet.org</p>
    </div>
  </div>
</div>
