.fish-container
  display: grid
  grid-template-columns: 1.5fr 1fr
  margin-top: 10rem

.fish-main-image-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center 
  img
    height: 30rem
    width: 40rem
    object-fit: cover
.fish-header-text
  font-size: 2rem
.fish-description-text
  width: 50rem
  font-size: 1.8rem

.fish-gallery-container
  display: grid
  grid-gap: 5rem
  img
    height: 40rem
    width: 40rem
    border-radius: 5px
    object-fit: cover
