<div class="bg-container">
  <div class="bg-black-layer"></div>
  <img class="mainBg" src="../../../../assets/images/mainBg1.jpg" />

  <div class="header-info-container">
    <p class="header-logo-text">Plastic is Bad.</p>
    <p class="header-intro-text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has dard
    </p>
    <button class="header-button">More Details</button>
  </div>


  <!-- !Add all commented stuff back, overflow is killing me. -->
  <!-- <p class="header-side-text">Recycle your Trash</p> -->
  <img class="bag-image" src="../../../../assets/images/png/bag.png" />
  <img class="rings-image" src="../../../../assets/images/png/rings.png" />

  <!-- <div class="bottle-container">
    <img class="bottle-image" src="../../../../assets/images/png/bottle1.png" />
    <p class="bottle-text">5.25 trillion macro/micro pieces of trash</p>
  </div> -->
</div>
