.bg-container
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
.mainBg
  width: 100%
  height: 100%
  vertical-align: text-bottom
  object-fit: cover
  opacity: .5
  position: absolute
  filter: saturate(1.5) hue-rotate(0deg) brightness(1)
.bg-black-layer
  height: 100%
  width: 100%
  position: absolute
  background: #000


.header-info-container
  position: absolute
  width: 70rem
  display: flex
  align-items: center
  flex-direction: column
.header-logo-text
  margin-bottom: 2rem
  font-size: 8rem
  font-family: Inter
  color: #eeeeee
.header-intro-text
  font-size: 1.8rem
  font-family: Nunito-light
  width: 70%
  color: white
.header-button
  border: none
  height: 5rem
  border-radius: 5px
  font-family: nunito-semibold
  margin-top: 5rem
  font-size: 2.3rem
  width: 25rem
  letter-spacing: .3rem
  background: #ffffff
  color: #000
  &:hover
    background: #f0f0f0
  &:active
    background: #e4e4e4
    border-radius: none

.header-side-text
  font-family: Farro
  position: absolute
  font-size: 18rem
  color: black
  opacity: .3
  top: 13rem
  right: -5rem

.bag-image, .rings-image, .bottle-container
  position: absolute
  height: 30rem
  width: 30rem
.bag-image
  height: 50rem
  width: 37rem
  left: 10rem
  bottom: -10rem
  transform: rotate(-10deg)
.rings-image
  height: 30rem
  width: 40rem
  left: -10rem
  top: 15rem
  transform: rotate(100deg)
.bottle-container
  right: 0px
  bottom: 0px
  display: flex
  justify-content: center
  object-fit: cover
  width: 20rem
  height: 55rem
  transform: rotate(-20deg)
.bottle-image
  height: 100%
  width: 100%
  position: absolute
.bottle-text
  bottom: 50%
  text-align: center
  color: #ededed
  font-family: nunito-reg
  letter-spacing: .2rem
  line-height: 3rem 
  position: absolute
  margin: 5%
  width: 90%
  font-size: 1.8rem
  