<div class="pollution-container">
  <div class="pollution-header-container">
    <p class="pollution-header">WHAT ITEMS POLLUTE THE OCEAN?</p>
    <hr />
  </div>
  <div class="pollution-image-container">
    <div class="inner-image-container">
      <img src="{{ 'assets/images/' + 'cigerettes' + '.jpg' }}" />
    </div>
    <div class="inner-image-container">
      <img src="{{ 'assets/images/' + 'seaLion' + '.jpg' }}" />
    </div>
    <div class="inner-image-container">
      <img src="{{ 'assets/images/' + 'seaLion' + '.jpg' }}" />
    </div>
    <div class="inner-image-container">
      <img src="{{ 'assets/images/' + 'bagjpg' + '.jpg' }}" />
    </div>
    <div class="inner-image-container">
      <img src="{{ 'assets/images/' + 'lid' + '.jpg' }}" />
    </div>
    <div class="inner-image-container">
      <img src="{{ 'assets/images/' + 'spoons' + '.jpg' }}" />
    </div>
    <div class="inner-image-container">
      <img src="{{ 'assets/images/' + 'straws' + '.jpg' }}" />
    </div>
    <div class="inner-image-container">
      <img src="{{ 'assets/images/' + 'glassBottle' + '.jpg' }}" />
    </div>
    <div class="inner-image-container">
      <img src="{{ 'assets/images/' + 'cans' + '.jpg' }}" />
    </div>
  </div>
</div>
