<div class="facts-container">
  <p class="facts-header-text">
    Plastic is a valuable resource in many ways, but plastic pollution is an
    unnecessary and unsustainable waste of that resource.
  </p>
  
  <ul class="facts-info-text">
    <li>
      Packaging is the largest end-use market segment accounting for just over
      40% of total plastic usage.
    </li>
    <li>
      Annually, approximately 500 billion plasticf bags are used worldwide. More
      than one million bags are used every minute.
    </li>
    <li>A plastic bag has an average “working life” of 15 minutes.</li>
    <li>
      Over the last ten years we have produced more plastic than during the
      whole of the last century.
    </li>
    <li>
      According to the Container Recycling Institute, 100.7 billion plastic
      beverage bottles were sold in the U.S. in 2014, or 315 bottles per person.
    </li>
    <li>
      57% of those units were plastic water bottles: 57.3 billion sold in 2014.
      This is up from 3.8 billion plastic water bottles sold in 1996, the
      earliest year for available data.
    </li>
    <li>
      The process of producing bottled water requires around 6 times as much
      water per bottle as there is in the container.
    </li>
    <li>
      14% of all litter comes from beverage containers. When caps and labels are
      considered, the number is higher.
    </li>
  </ul>
</div>
