<div class="info-section-container">
  <!-- <div
    *ngFor="let information of information; let id = index"
    class="info-container"
    [ngStyle]="{ flexDirection: id === 1 ? 'row-reverse' : 'row' }"
  >
    <div class="info-circle">
      <img
        class="circle-image"
        src="{{ 'assets/images/png/' + information.image + '.png' }}"
      />
    </div>

    <div class="info-information">
      <p class="info-text">
        Lorem Ipsum is simply text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, whe
      </p>
      <button class="info-button">View More</button>
    </div>
  </div>

  <img
    class="{{ image.style }}"
    *ngFor="let image of images"
    src="{{ 'assets/images/png/' + image.image + '.png' }}"
  /> -->
</div>
