.info-section-container
  margin-top: 10rem
  height: 60rem
  background: #e0e0e0
  overflow: none

.info-container
  display: flex
  justify-content: center
  align-items: center
  margin-top: 10rem
  margin-bottom: 10rem
  overflow: none
.info-circle
  margin-right: 5rem
  display: flex
  justify-content: center
  align-items: center
  height: 20rem
  width: 20rem
  border-radius: 100%
  background: #5599FF
.circle-image
  height: 60%
  width: 60%

.info-information
  overflow: none

  margin-left: 5rem
.info-text
  margin-bottom: 5rem
  width: 50rem
  font-size: 1.8rem
.info-button
  height: 6rem
  width: 20rem
  background: #4C4C4C
  border: none
  font-size: 2rem
  color: #fff

.cig-image, .straws-image, .toxicBig-image, .reef-image
  height: 30rem
  width: 30rem
  position: absolute

.cig-image
.straws-image
.toxicBig-image
.reef-image
